<main>
	<section>
		<h2>Latest Posts</h2>
		
		<ul>
			{{#each data}}
			<li>
				<span>{{formatDate createdAt}} - </span>
				<a href="/post/{{_id}}">
					<span>{{title}}</span>
				</a>
			</li>
			{{/each}}
		</ul>
		{{#if hasNextPage}}
			<a href="/blog/?page={{nextPage}}">&lt; View Older Posts</a>
		{{/if}}
		{{#if hasPrevPage}}
			<a href="/blog/?page={{prevPage}}">View Newer Posts &gt;</a>
		{{/if}}
	</section>
</main>
